#welcome
    padding: 40px 0
    .textbox
        padding: 80px
        h1
            font-weight: 700
            font-size: 30px
        h3
            color: #868686
            margin: 20px 0 40px
            font-size: 20px
        h2,h6
            margin: 15px 0
        h2
            font-size: 33px
        h6
            font-size: 18px
        .btn
            padding: 10px 30px
            border-radius: 20px
            background-color: #a7b59f
            color: #ffff
    .wid
        width: 580px
        padding: 0
    @media screen and ( max-width: 991px )
        .imgflex
            display: flex
            align-items: center
        .textbox
            padding: 20px
            h1 
                font-size: 50px
            h3 
                font-size: 22px
            h2 
                font-size: 30px
                font-weight: 500
        .imgbox
            width: 600px
    @media screen and ( max-width: 391px )
        .flexrevers
            display: flex
            flex-flow: column-reverse
        .textbox
            h1 
                font-size: 45px
            h3 
                font-size: 20px
        .tstart
            display: flex
            justify-content: center
        .textflex
            text-align: center
        .imgbox
            width: 300px